<div>
  <%= form_for @user do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username, placeholder:"username" %><br>

    <%= form.label :email %>
    <%= form.text_field :email, placeholder:"Email" %><br>

    <%= form.label :password %>
    <%= form.text_field :password, type:"password", placeholder:"Password" %>

    <%= form.submit  :value => "Submit" %>
  <% end %>
</div>
